body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

    .btn-green {
      background-color:#AFD275;
      color:#7E685A;
    }

    .btn-xxl {
      padding: 1rem 1.5rem;
      font-size: 1.5rem;
    }

.test{
  color: red;
}
.centercol {
  background: #aaa;
  overflow-y: scroll;
}

.overflow-scrolling {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}